<div id="<%= dom_id job_posting %>">
  <p>
    <strong>Title:</strong>
    <%= job_posting.title %>
  </p>

  <p>
    <strong>Companyname:</strong>
    <%= job_posting.companyName %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= job_posting.url %>
  </p>

</div>
